<!DOCTYPE>
 <html>
    <head>
      <script src="https://cdn.tailwindcss.com"></script>  
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" /> 
    </head>
    <body>
      <section class="flex flex-col items-center pt-6">
        <div
          class="w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700">
          <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
            <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">Create an
              account
            </h1>
            <form class="space-y-4 md:space-y-6" method="POST">
              {% csrf_token %}
              <div>
                <label for="username" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Username</label>
                <input type="text" name="username" id="" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Username" required="id_username">
              </div>
              <div>
                <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Email</label>
                <input type="email" name="email" id="" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Email" required="id_email">
              </div>
              <div>
                <label for="first_name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">First Name</label>
                <input type="text" name="first_name" id=" " class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="First Name" required="id_first_name ">
              </div>
              <div>
                <label for="last_name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Last Name</label>
                <input type="text" name="last_name" id=" " class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Last Name" required="id_last_name ">
              </div>
              <div>
                <label for="role" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Role</label>
                <input type="text" name="role" id="" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Role" required="id_role">
              </div>
              <div>
                <label for="date_joined" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Join Date</label>
                <input type="date" name="date_joined" id="" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required="id_date_joined">
              </div>
              <div>
                <label for="last_login" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Last login Date</label>
                <input type="date" name="last_login" id="" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required="id_last_login">
              </div>
              <div>
                <label for="is_staff" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Staff Status</label>
                <input type="checkbox" name="is_staff" id="is_staff" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600">
              </div>
              
              <div>
                <label for="is_active" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Active Status</label>
                <input type="checkbox" name="is_active" id="is_active" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600">
              </div>
              
              <div>
                <label for="is_superuser" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Superuser Status</label>
                <input type="checkbox" name="is_superuser" id="is_superuser" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600">
              </div>
              <div>
                <label for="password1" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Password</label>
                <div class="relative">
                  <input type="password" name="password1" id="password1" placeholder="••••••••" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required="id_password">
                  <span class="absolute right-3 top-1/2 -translate-y-1/2 text-gray-400 hover:text-gray-900 cursor-pointer" id="password-toggle">
                    <i class="fas fa-eye-slash" aria-hidden="true" id="password-eye"></i>
                  </span>
                </div>
              </div>
              <div>
                <label for="password2" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Confirm Password</label>
                <div class="relative">
                  <input type="password" name="password2" id="password2" placeholder="••••••••" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required="id_password2">
                  <span class="absolute right-3 top-1/2 -translate-y-1/2 text-gray-400 hover:text-gray-900 cursor-pointer" id="confirm-password-toggle">
                    <i class="fas fa-eye-slash" aria-hidden="true" id="confirm-password-eye"></i>
                  </span>
                </div>
              </div>
              <button type="submit" class="w-full text-white bg-blue-600 hover:bg-blue-700 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Create an account</button>
              <p class="text-sm font-light text-gray-500 dark:text-gray-400">Already have an account? <a
                  class="font-medium text-blue-600 hover:underline dark:text-blue-500" href="{% url 'login' %}">Login</a>
              </p>
            </form>
          </div>
        </div>
      </section>
      <script>
        document.addEventListener("DOMContentLoaded", function() {
        // JavaScript code here
        // Password toggle
          document.getElementById('password-toggle').addEventListener('click', function() {
            const passwordInput = document.getElementById('password1');
            const passwordEye = document.getElementById('password-eye');
            if (passwordInput.type === 'password') {
              passwordInput.type = 'text';
              passwordEye.classList.remove('fa-eye-slash');
              passwordEye.classList.add('fa-eye');
              } else {
                passwordInput.type = 'password';
                passwordEye.classList.remove('fa-eye');
                passwordEye.classList.add('fa-eye-slash');
              }
            });
          // Confirm password toggle
            document.getElementById('confirm-password-toggle').addEventListener('click', function() {
              const confirmPasswordInput = document.getElementById('password2');
              const confirmPasswordEye = document.getElementById('confirm-password-eye');
              if (confirmPasswordInput.type === 'password') {
                confirmPasswordInput.type = 'text';
                confirmPasswordEye.classList.remove('fa-eye-slash');
                confirmPasswordEye.classList.add('fa-eye');
                } else {
                  confirmPasswordInput.type = 'password';
                  confirmPasswordEye.classList.remove('fa-eye');
                  confirmPasswordEye.classList.add('fa-eye-slash');
                }
              });
            });
      </script>
    </body>    
  </html> 